{% extends 'base.html.twig' %}

{% block title %}BERA Watch: un site pour suivre la publication des BERA (Bulletin d'estimation du risque d'avalanche){% endblock %}

{% block body %}

    <div>
        <h1>BERA Watcher</h1>
        <p>
            Un simple site pour accéder à l'historique des BERA (Bulletin d'estimation du risque d'avalanche).
        </p>

        <div style="max-width: 300px">
            {{ form(form) }}
        </div>
    </div>

    <div>
        Ceci est possible grâce à <a href="https://github.com/qloridant/meteofrance_bra_hist">https://github.com/qloridant/meteofrance_bra_hist</a>
        qui récupère les données à jour.
    </div>
{% endblock %}
