<h2>Bonjour,</h2>

<p>Un nouveau BERA est disponible pour le massif <strong>{{ bera.mountain.value }}</strong>.</p>

<p>Vous pouvez
    <a href="{{ url('app_editsubscription', {'token': subscriber.token}) }}">
        mettre à jour vos préférences de notifications
    </a>
</p>
