{% extends 'base.html.twig' %}

{% block title %}
Éditer votre abonnement
{% endblock %}

{% block body %}
    <h1>Éditer votre abonnement</h1>
    <div>
        {{ form(form) }}
    </div>
{% endblock %}


