{% extends 'base.html.twig' %}

{% block title %}
    Éditer votre abonnement
{% endblock %}

{% block body %}
    <h1>Éditer votre abonnement</h1>

    <p>
        Pour éditer votre abonnement, merci de saisir votre email pour recevoir un lien unique d'édition.
    </p>
    <div>
        {{ form(form) }}
    </div>
{% endblock %}

