{% extends 'base.html.twig' %}

{% block title %}S'abonner à une publication de BERA{% endblock %}

{% block body %}
    <h1>
        Vous souhaitez vous abonner à la publication du BERA d'un ou plusieurs massifs ? C'est ici.
    </h1>
    <div>
        {{ form(form) }}
    </div>
{% endblock %}
